
.headerDisplay{
    grid-area: Header;
    width: 100%;
    
}

.mainTitle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    align-items: start;
    padding: 10px;
}

.mainTitle h1{
    margin-bottom: 0px;
    margin-right: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.mainTitle p{
    padding: 20px;
    margin-right: auto;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#logoutButton{
    margin-right: 20px;
    margin-left: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#profileButton{
    margin-right: 20px;
    margin-left: auto;
    margin-top: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

nav{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px;
    white-space: pre;
    gap: 20px;
    margin-right: 20px;
}

link {
    color:  #062B79;
}

